# Database connection
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root

# Spring envs (optional override)
SPRING_DATASOURCE_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/hospital
SPRING_DATASOURCE_USERNAME=${DB_USER}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
SERVER_PORT=8081
